body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("stars.png");
    background-repeat: repeat;
    background-color: black;
    background-position: fixed;
    color: white;
    text-align: center;
    cursor: crosshair;
}

footer a {
    color: cyan;
    font-size: 14px;
    transition: letter-spacing 2s ease,
                color 2s ease;
}

footer a:hover {
    cursor: crosshair;
    color: gold;
    letter-spacing: 0.125em;
}

h1 {
    font-size: 42px;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    transition: font-size 4s ease,
                letter-spacing 4s ease;
}

h1:hover {
    font-size: 56px;
    letter-spacing: 0.25em;
}

h2 {
    font-size: 18x;
    font-weight: lighter;
    transition: letter-spacing 3s ease;
}

h2:hover {
    letter-spacing: 0.25em;
}

p {
    font-size: 16px;
}

footer p {
    font-size: 12px;
    text-align: center;
    line-height: 0.5em;
}


nav {
    margin-top: 0.3em;
    display: block;
    
}

nav li {
    display:inline-block;
    text-align: center;
    padding: 0.5em;
    list-style-type: none;
}

nav a:active, a:after, a:visited, a {
    font-size: 18px;
    color: cyan;
    text-decoration: none;
    text-align: center;
    transition: font-size 2s ease,
                letter-spacing 2s ease,
                color 2s ease;
}

nav a:hover {
    color: gold;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 0.125em;
}

#container {
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1em;
    text-align: center;
    padding-top: 1.4em;
    padding-bottom: 0;

}

/* type writer */

.typebox {
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: -220px;
    margin-bottom: -230px;
  }
  
  p.typed {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }